.info-section h3 { color: #444; border-bottom: 2px solid #777; padding-bottom: 5px; }
.info-section ul { list-style-type: square; padding-left: 20px; }
.info-section li { font-size: 1.2rem; margin-bottom: 5px; }